 <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg pixel-nav">
    <div class="container-fluid">

      <!-- brand logo + text -->
      <a class="navbar-brand pixel-logo" href="/home">
        <!-- small logo icon -->
        <img src="/img/fishdex-icon.png" alt="Fishdex icon"
             style="height:30px; margin-right:8px;">
        FISHDEx
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/fish">Fish</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

        </ul>
      </div>

    </div>
  </nav>