
html, body {
  height: 100px;
  margin: 0;
}

/* linear gradient background */
body.fishdex-body {
  min-height: 100vh;
  margin:0;
  display: flex;
  flex-direction: column;

  font-family: "Press Start 2P", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  /* ONLY the gradient no second layer */
  background: linear-gradient(180deg, #19374b 0%, #396d7d 40%, #719797 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* nav bar with pixel font and logo */
.pixel-nav {
  background: #19374b;
  padding: 15px 20px;   
  font-family: "Press Start 2P", monospace;
}
.pixel-logo {
  font-size: 29px;
  font-weight: bold;
  color: #ffffff !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 0;
}

/* nav links */
.pixel-nav .nav-link {
  position: relative;
  color: #ffffff !important;
  font-size: 16px;
  margin-left: 20px;
  transition: 0.2s ease;
  text-decoration: none;
  padding-left: 28px; 
}

/* Hover effect using arrow asset I drew */
.pixel-nav .nav-link:hover::before {
  content: "";
  position: absolute;
  left: -10px;                      
  top: 50%;
  transform: translateY(-50%);
  width: 22px;                       
  height: 22px;
  background-image: url("/img/filled-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* mobile hamburger bootstrap*/
.navbar-toggler {
  border: 2px solid rgb(255, 255, 255);
}
.navbar-toggler-icon {
  background-image: none;
  width: 24px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 0 rgb(255, 255, 255), 0 12px 0 rgb(255, 255, 255);
}

/* Positioning for logo gif (own asset) */
.hero-gif {
  display: block;
  margin: -45px auto 0 auto;  
  width: 100%;
  max-width: 750px;
  image-rendering: pixelated;
}

/* animation only shows on hover */
.hover-gif {
  width: 100%;
  max-width: 650px;
  image-rendering: pixelated;
}

/* main hero button*/
.get-btn {
  font-family: "Press Start 2P", monospace;
  background: #1a2a49;
  color: #fff;
  border: 3px solid #003344;
  padding: 8px 6px;
  border-radius: 10px;
  margin-top: -100px !important;
  transition: 0.2s ease;
}
main {
  flex :1;
}
/* current basic hover action might change in the future */
.get-btn:hover {
  background: #1a2a49;
  transform: scale(1.03);
  color: #fff;
}

/* footer design */
.fishdex-footer {
  width: 100%;
  height: 45px;
  line-height: 45px;
  

  background: #19374bbd; 
  padding: 0px 15px;
  
  font-family: "Press Start 2P";
  font-size: 0.6rem;
  color: #eafaff;
  text-align: right;   
}

/* pixel border style */
.poke-border {
  border: 9px double #000;
}
.poke-font {
  font-family: "Press Start 2P", monospace;
  font-size: 12px;
}
.table .btn {
  border: 2px solid #000;
  font-size: 10px;
  box-shadow: inset -1px -1px 0 #000;
}

.add-fish-btn {
  border: 2px solid #000;
  font-size: 15px;
  font-family: "Press Start 2P", monospace;
  padding: 10px 20px;
  background: #ffffff;
  color: #000000;
  box-shadow: inset -1px -1px 0 #000;
}

/* adjusts positioning of the table */
.table-responsive {
  margin-top: 80px; 
}

/* makes the top row more distinct and with the pokemon style */ 
.poke-border thead th {
  letter-spacing: 1px;
  font-size: 15px;
  text-transform: uppercase;
}

/* trying to remove extra space from the right of each cell IN PROGRESS NEEDS FIXING */
.table td,
.table th {
  padding-right: 8px !important;
}


