<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

  <!-- main page -->
  <main class="container text-center mt-5">
    <!-- main title image that swaps to GIF on hover -->
    <img src="/img/fishdex-title.png"
      data-animated="/img/fishdex-title.gif"
      data-static="/img/fishdex-title.png"
      alt="Fishdex title"
      class="hero-gif hover-gif">
   
    <!-- hero button -->
    <div class="mt-4">
      <a href="/fishs" class="btn btn-lg get-btn">Get Started!</a>
    </div>
    <p> A tool for tracking your video game Fishdex progress</p>
  </main>

  <!-- hover gif script -->
  <script>
    document.querySelectorAll('.hover-gif').forEach(img => {
      img.addEventListener('mouseenter', () => {
        img.src = img.dataset.animated;
      });
      img.addEventListener('mouseleave', () => {
        img.src = img.dataset.static;
      });
    });
  </script>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<%- include ./partials/footer.ejs %>
