<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %> 
<!-- main content container -->
<main class="container my-4">
<!-- content for adding fish -->
<div class="container">
  <div class="row">

    <!-- center column for form -->
    <div class="offset-md-3 col-md-6">
      <h1><%= title %></h1>

      <!-- form for submitting new data to the POST /fishs/add route -->
      <form class="form" method="post">
        <!-- fish name field -->
        <div class="form-group">
          <label for="fishNameTextField">Fish</label>
          <input type="text" class="form-control"
          id="fishNameTextField"
          placeholder="Fish"
          name="fishName" required>
        </div>
        <!-- location field -->
        <div class="form-group">
          <label for="locationTextField">Location</label>
          <input type="text" class="form-control"
          id="locationTextField"
          placeholder="Location"
          name="location" required>
        </div>

        <!-- bait field -->
        <div class="form-group">
          <label for="baitTextField">Bait</label>
          <input type="text" class="form-control"
          id="baitTextField"
          placeholder="Bait Used"
          name="bait" required>
        </div>

        <!-- time of day field -->
        <div class="form-group">
          <label for="timeTextField">Time</label>
          <input type="text" class="form-control"
          id="timeTextField"
          placeholder="Time of day caught"
          name="time" required>
        </div>

        <!-- caught true/false checkbox field -->
        <div class="form-check">
          <label for="caughtCheck">Caught?</label>
          <input type="checkbox" class="form-check-input"
          id="caughtCheck"
          name="caught" 
          value="true">
        </div>

        <br>
        <!-- submit button -->
        <button class="btn add-fish-btn" type="submit">
           Submit
        </button>
        <!-- cancel button to return to fish list -->
        <a href="/fishs" class="btn add-fish-btn">
          Cancel
        </a>

      </form>
    </div>
  </div>
</div>
</main>
<%- include ../partials/footer.ejs %>